@import "setup";
@import "components";
@import "header";
@import "footer";
@import "modal";

@import "entry";
@import "page-news";
@import "page-supporters";


body {
  position: relative;
  font-size: 18px;
  margin: 0; padding: 0;
  background: #fff;
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: $nm-font--stencil;
  font-weight: normal;
  color: $nm-blue;
}

.nm-pageContent {
  padding-top: 4vh;
  padding-bottom: 4vh;
  min-height: 60vh;
}

.nm-title {
  position: relative;
  font-size: 3rem;
  margin: 3vh 0 10vh 0;
  padding-bottom: 3vh;

  //overflow: hidden;
  transform: rotate(-2.5deg);
  margin-left: -2vw;
  width: 100%;

  //animation: nmTitleFrames 8s infinite alternate linear;

  &:before {
    content : "";
    position: absolute;
    display: block;
    //margin-right: 10px;
    width: 84vw;
    top: 3.2rem;
    height: .5rem;
    z-index: -500;
    // transform: rotate(1deg);
    margin-left: -5vw;
    background: $nm-blackish;

  }

}
